
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.felxible-container{
    display: flex;
    /* background-image: url(img/top-banner.png);
    background-size: cover; */
    margin-bottom: 150px;
}
.sec{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
    
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right; 
    background-position-y: bottom;
}
.experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 90px;
    padding-right: 20px;
    
}
.exp{
    margin-left: 70px;
}

#web-exp{
    
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#baby-exp{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}
footer{
    text-align: center;
}